h1= title
p Welcome to #{title}

h3 image bundle service
p
  code GET /bundle
ul
  li 
    code images - src attributes of those images on the url
    
h3 returns

code hash map of base64 encoded images

